<% content_for :artist do -%>
<%= @artist.upcase %>
<% end  %>
<% content_for :album do -%>
<%= @album_name.upcase %>
<% end  %>
<% content_for :meta do -%>
    <meta name="title" content="THE GOSPELITE - FOUR YEARS IN THE FUTURE" />
    <meta name="description" content="a folk electronic music album by the gospelite" />
    <meta name="keywords" content="folk electronic music album the gospelite mp3 m4u m4a aac djs" />
    <!-- facebook page stuff -->
    <meta property="og:title" content="The Gospelite - Four Years in the future"/>
    <meta property="og:type" content="album"/>
    <meta property="og:image" content="http://thegospelite.com/images/website.jpg"/>
    <meta property="og:url" content="http://thegospelite.com/"/>
    <meta property="og:site_name" content="thegospelite.com"/>
    <meta property="fb:admins" content=""/> 
    <meta property="og:description" content="sweet delicious folk electronic - get the albums for free because we love you"/>
    <meta property="og:audio" content="http://thegospelite.com/music/1/urnotalone.mp3"/>
    <meta property="og:audio:title" content="urnotalone song" />
    <meta property="og:audio:artist" content="The Gospelite" />
    <meta property="og:audio:album" content="Four Years" />
    <meta property="og:audio:type" content="application/mp3" />
<% end %>
<% content_for :js do-%>
  <script type="text/javascript">

  <% if Rails.env == 'production' %>
    $('a[href$="mp3"]').click(function() {
        _gaq.push(['_trackEvent', 'Music Downloads', 'Click', $(this).attr('href')]);
    });
    $('a[href$="m4a"]').click(function() {
        _gaq.push(['_trackEvent', 'Music Downloads', 'Click', $(this).attr('href')]);
    });
  <% end %>

  </script>
<% end %>

<div id="audiojs_container">
  <audio preload></audio>
  <ol>
  <% for track in @album.tracks %> 
    <li><a href="#" data-src="<%= "/music/" + @album.album_number.to_s + "/" + track.local_name + '.mp3' %>"><%= track.name %></a></li>
  <% end %>
  </ol>
</div>

<div id="container">
  <div id="page">
    <div id="header_top">
      <div id="band_name" class="gemstone">
        <%= @artist.upcase %>
      </div>
      <div id="album_name" class="cornerstone alb_header_<%= @album.album_number %>">
        <%= @album_name.upcase %>
      </div>
      <div id="feat_name" class="agency">
      </div>
    </div>

    <div id="albums_container">

      <div id="shbam_container">
        <div id="broad_sbam" class="agency">LIKE WHAT YOU HEAR?</div>
        <div id="bam_btn_container"><img src="/assets/sbam_btn.png" id="sbam_btn"></div>
      </div>

      <div class="clear"></div>

      <div id="full_record_links">
        <div class="page_album album_download">
          <a href="<%= album_path(@album) + '_mp3.zip' %>" id="all_mp3" class="full"><img src="/assets/mp3_album.png"></a>
          <div class="sizer agency"><%= @album.mp3_size %> MB &nbsp;<span class="gemstone">(<%= @album.tracks.size %> tracks)</span></div>
        </div>
      </div>
      <div id="location_hits">
        <p class="agency">CURENTLY BEING LISTENED TO IN:</p>
        <% i = 0 %>
        <% for newest in @newest_three %>
          <div id="nlocation_<%= i %>" class="gemstone location <%= "loc_highlight" if i == 0 %>">
            <%= newest.city + ", " + newest.state %>
          </div>
          <div id="nstats_<%= i %>" class="stats gemstone">
            <%= "(x" + newest.occurences.to_s + ") - " + newest.updated.to_s %>
          </div>
          <% i += 1 %>
        <% end %>
      </div>
    </div>

    <div class="clear"></div>


    <div id="head_seperator">
    </div>

    <% if @album.cc_license %>
      <div id="cc">
        <div id="cc_image">
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
        </div>
        <div id="cc_errata">
          <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Sound" property="dct:title" rel="dct:type">The Tares Destroyer</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://bumptiousmusic.com/album/1-Bumptious-The-Tares-Destroyer" property="cc:attributionName" rel="cc:attributionURL">Bumptious</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://bumptiousmusic.com/album/1-Bumptious-The-Tares-Destroyer" rel="dct:source">http://bumptiousmusic.com</a>
        </div>
      </div>
    <% end %>

    <div id="headers" class="broadway">
      <div class="header" id="header_tnum">
        Track
      </div>
      <div class="header" id="header_ttitle">
        &nbsp;
      </div>
      <div class="header" id="header_ndown">
       DL Count
      </div>
      <div class="header" id="header_types">
      </div>
    </div>
    <div class="clear"></div>
    <div id="track_seperator">
    </div>
    <div id="content_info">
      <% @tracks.each do |track| %>
        <div class="track">
          <div class="tinfo track_number" class="gemstone">
          <%= track.track_number.to_s %>.
          </div>
          <div class="tinfo track_name">
            <a id="<%= track.id.to_s %>_l" href="<%= album_track_path(@album, track) + '.mp3' %>" class="gemstone"><%= track.name.upcase %></a>
          </div>
          <div id="<%= track.id.to_s %>_d" class="tinfo downloads gemstone">
                  <%= number_with_delimiter(track.download_count) %> 
          </div>
          <div class="tinfo track_link gemstone">
            <a class="download link" id="<%= track.id.to_s %>_l" href="<%= album_track_path(@album, track) + '.mp3' %>">mp3</a>&nbsp;
            <a class="download link purple" id="<%= track.id.to_s %>_u" href="<%= album_track_path(@album, track) + '.m4a' %>">m4a</a>
          </div>
        </div>
        <div class="clear"></div>
      <% end %>
      </div>

      <div id="city_leaderboard">
        <p class="agency">CITY RANKINGS</p>
        <% i = 0 %>
        <% for top in @top_three %>
          <div class="ccont">
            <div id="stats_<%= i %>" class="cstats gemstone">
              <%= "(x" + top.occurences.to_s + ")" %>
            </div>
            <div id="location_<%= i %>" class="gemstone clocation <%= "loc_highlight" if i == 0 %>">
              <%= top.city + ", " + top.state %>
            </div>
          </div>
          <% i += 1 %>
        <% end %>
      </div>


      <div id="page_footer">
        <div class="footer_link as">
          <a id="notified_link" href="" class="premi" >get notified</a>  
        </div>  
        <div class="footer_link as">  
          <a id="message_us_link" href="#" class="premi">message us</a>  
        </div>  
        <div class="footer_link as">  
          <a id="about_us_link" href="#" class="premi">about us</a>  
        </div>  
      </div>
    </div>

  </div><!-- end page -->
</div><!-- end container -->

<div id="message_us_fuzz" class="fuzz">  
  <div id="message_us_cont" style="background-color:#d20ad0; padding:5px" class="msgbox rounded">
    <div style="background-color:#272727; padding:1px" class="rounded gemstone">
      <a id="message_us_close" class="close" href="" >close</a>  
      <span id="message_us_header">Send us a quick message</span>
      <div id="message_us_inputs" class="msgbox_content">
        <br/>
        <br/>
        <%= form_for :message, :html => { :id => 'message_us_form' }, :url => '/home/message_us' do |f| %>
          Your email (optional): <br/> 
          <%= f.text_field 'email', :class =>  'message_us_inputs' %>
          <br/>
          <br/>
          Your message for us: <br/>
          <%= f.text_area 'message', :class => 'message_us_inputs' %><br/>
          <br/>
          <%= f.submit 'Message', :value => 'Send', :id => 'message_us_btn', :onclick => 'do_message(this);', :class => 'message_us_submit rounded_submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>  

<div id="notified_fuzz" class="fuzz">  
  <div id="notified_cont" style="background-color:#d20ad0; padding:5px" class="msgbox rounded">
    <div style="background-color:#272727; padding:1px" class="rounded gemstone">
      <a id="notified_close" class="close" href="" >close</a>  
      <div id="notified_header">Get notified about concerts and new albums</div>
      <div id="notified_inputs" class="msgbox_content">
        <br/>
        <br/>
        <%= form_for :notified, :html => { :id => 'notified_form' }, :url => '/home/notified' do |f| %>
          Your email: <br/> 
          <%= f.text_field 'email', :class =>  'message_us_inputs' %><br/>
          <br/>
          <%= f.submit 'Message', :value => 'Send', :id => 'notified_btn', :onclick => 'do_notify(this);', :class => 'message_us_submit rounded_submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="about_us_fuzz" class="fuzz">  
  <div id="about_us_cont" style="background-color:#d20ad0; padding:5px" class="msgbox rounded">
    <div style="background-color:#272727; padding:1px" class="gemstone">
      <a id="about_us_close" class="close" href="" >close</a>  
      <div id="about_header">
        <div id="about_content">
          "He that hath ears, let him hear." - Jesus (<a href="http://www.biblegateway.com/passage/?search=Matthew%2013:9&version=ASV">Matthew 13:9</a>) <br/>
          "And if any man hear my words, and believe not, I judge him not: for I came not to judge the world, but to save the world." - Jesus (<a href="http://www.biblegateway.com/passage/?search=John%2012:47&version=KJV">John 12:47</a>) <br/>
          There are only two things worth aiming for, good music and a clean conscience.<br> - Paul Hindemith <br>
          <br>This website is completely open source.  
          <br>You can download the project and make it your own at
          <br><a href="https://github.com/bikokid">https://github.com/bikokid</a>
          <br>
          <br>You can check out else i'm up to on twitter
          <br><a href="http://twitter.com/matthewkcarr">http://twitter.com/matthewkcarr</a>
          <br>
          <br>Or you can just email me at:
          <br>bikokid@gmail.com
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="five_fuzz" class="fuzz">  
  <div id="five_cont" style="background-color:#d20ad0; padding:5px" class="msgbox rounded">
    <div style="background-color:#272727; padding:1px" class="gemstone">
      <%= render :partial => 'unlock/form' %>
    </div>
  </div>
</div>

<div id="preload">
  <%= render :partial => 'unlock/fivemore' %>
</div>

