<% content_for :artist do -%>
<%= @artist.upcase %>
<% end  %>
<% content_for :album do -%>
<%= @album_name.upcase %>
<% end  %>
<% content_for :meta do -%>
    <meta name="title" content="THE GOSPELITE - FOUR YEARS IN THE FUTURE" />
    <meta name="description" content="a folk electronic music album by the gospelite" />
    <meta name="keywords" content="folk electronic music album the gospelite mp3 m4u m4a aac djs" />
    <!-- facebook page stuff -->
    <meta property="og:title" content="The Gospelite - Four Years in the future"/>
    <meta property="og:type" content="album"/>
    <meta property="og:image" content="http://thegospelite.com/images/website.jpg"/>
    <meta property="og:url" content="http://thegospelite.com/"/>
    <meta property="og:site_name" content="thegospelite.com"/>
    <meta property="fb:admins" content=""/> 
    <meta property="og:description" content="sweet delicious folk electronic - get the albums for free because we love you"/>
    <meta property="og:audio" content="http://thegospelite.com/music/1/urnotalone.mp3"/>
    <meta property="og:audio:title" content="urnotalone song" />
    <meta property="og:audio:artist" content="The Gospelite" />
    <meta property="og:audio:album" content="Four Years" />
    <meta property="og:audio:type" content="application/mp3" />
<% end %>
<% content_for :js do-%>
  <script type="text/javascript">

  <% if Rails.env == 'production' %>
    $('a[href$="mp3"]').click(function() {
        _gaq.push(['_trackEvent', 'Music Downloads', 'Click', $(this).attr('href')]);
    });
    $('a[href$="m4a"]').click(function() {
        _gaq.push(['_trackEvent', 'Music Downloads', 'Click', $(this).attr('href')]);
    });
  <% end %>

  </script>
<% end %>

<div id="audiojs_container">
  <audio preload></audio>
  <ol>
  <% for track in @album.tracks %> 
    <li><a class="gemstone" href="#" data-src="<%= "/music/" + @album.album_number.to_s + "/" + track.local_name + '.mp3' %>"><%= track.track_number.to_s + ". " + track.name %></a></li>
  <% end %>
  </ol>
</div>

<div id="container">
  <div id="header_top">
    <div class="band diner">
      <%= @artist.upcase %>
    </div>
    <div class="title pupcat alb_header_<%= @album.album_number %>">
      <%= @album_name.upcase %>
    </div>
  </div>

  <div id="albums_container">

    <div id="full_record_links">
      <div id="download_text" class="float"><a href="<%= album_path(@album) + '_mp3.zip' %>">download the full album (mp3)</a></div>
      <div class="float page_album album_download">
        <a href="<%= album_path(@album) + '_mp3.zip' %>" id="all_mp3" class="full"><img src="/assets/mp3_album.png"></a>
        <div class="sizer agency"><%= @album.mp3_size %> MB &nbsp;<span class="gemstone">(<%= @album.tracks.size %> tracks)</span></div>
      </div>
      <div class="clear"></div>
    </div>

    <div id="twitter">
      <a href="http://twitter.com/matthewkcarr">follow me on twitter</a>
    </div>

  </div>

</div><!-- end container -->

<div id="preload">
  <%= render :partial => 'unlock/fivemore' %>
</div>

