<!DOCTYPE html>

  <head>
    <title><%= yield :artist %> :: <%= yield :album %></title>
    <%= yield :meta %>
    <%= stylesheet_link_tag 'fonts', 'all-pages' %> 
    <%= yield :css %>
    <link rel="SHORTCUT ICON" HREF="/images/favicon.ico"> 
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
    <%= yield :js %>

  </head>

  <body>
    <canvas id='canvas' width='1376' height='1496'>
      Canvas not supported
    </canvas>
    <div id="tree_header">
      <div class="band diner">
        THE GOSPELITE
      </div>
      <div class="title pupcat">
        four years in the future
      </div>
    </div>
      <%= yield %>
    </div>

    <%= javascript_include_tag "treeLeaves" %>
  </body>
</html>
