<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= yield :artist %> :: <%= yield :album %></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= yield :meta %>

    <%= stylesheet_link_tag 'fonts', 'all-pages' %> 
    <%= yield :css %>

    <link rel="SHORTCUT ICON" HREF="/images/favicon.ico"> 
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>

    

    <% if Rails.env == 'production' %>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    <% end %>

    <%= yield :js %>

  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
